<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-mala-plugins-echo" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RFIDReader</name>
    <js-module name="RFIDReader" src="www/RFIDReader.js">
        <clobbers target="cordova.plugins.RFIDReader" />
    </js-module>
    <platform name="ios">
            <config-file parent="/*" target="config.xml">
                <feature name="RFIDReader"><param name="ios-package" value="RFIDReader" /></feature>
            </config-file><source-file src="src/ios/RFIDReader.m" />
    </platform></plugin>
